[submodule "camping-world"]
	path = camping-world
	url = git@github.com:SpencerDawson/coding-assignments-camping-world.git
[submodule "docker-dev"]
	path = docker-dev
	url = git@github.com:SpencerDawson/coding-assignments-docker-local-dev-sample.git
